
<HTML>
<HEAD>

<!--<link href="style.css" type="text/css" rel="stylesheet" />-->
<meta charset="UTF-8">
	<title>GB NC</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</HEAD>
<BODY>
		<div id="header">
			<div id="sidebar">
                                <a href="index.html" id="logo"><img src="images/logo2.png" height="182" width="220" align="texttop" alt="LOGO"></a>
				
				<div id="navigation">
					<ul>
						<li class="selected">
							<a href="index.html">Home</a>
						</li>
						<li class="menu">
							<a href="index.html">Menu</a>
							<div class="sub">
								<a href="menug.php">GB NC</a> <a href="menutr.php">TRUPTI NC</a> <a href="menupr.php">Prasanth NC</a> <a href="menu3rd.php" class="last-child">3rd Block NC</a>
							</div>
							<span></span>
						</li>
						<li>
							<a href="login.php">LOGIN for NC</a>
						</li>
						<li class="last1">
							<a href="comp.php">Read Reviews</a>
						</li>
						<li class="last">
							<a href="complaint.php">Write Reviews</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
<p>
<p>
<p>
<p>
<p>
<div id="shopping-cart">

<img src="images/GBNC.png" height="120" width="150" align="right">
<div class="txt-heading" align="center">Order Basket <a id="btnEmpty" href="menug.php?action=empty">Empty Basket</a></div>

<div align="center">	
<table cellpadding="10" cellspacing="1">

<tbody>
<tr>
<th><strong>Name</strong></th>
<th><strong>Code</strong></th>
<th><strong>Quantity</strong></th>
<th><strong>Price</strong></th>
<th><strong>Action</strong></th>
</tr>
</p>	
</p>
</p>
</p>
</p>


<tr>
<td colspan="5" align=right><strong>Total:</strong> <?php echo "Rs".$item_total; ?></td>
</tr>
<p>
 <button type=button onclick="location.href = 'user.php'">Order Now!</button> 
</p>
</tbody>
</table>	
</div>	

</div>

<div id="product-grid" align="center">
	<div class="txt-heading">Products</div>
	

</div>
</BODY>
</HTML>